<script setup></script>

<template>
    <figure class="figure fig-1">
        <img class="figure__r9" alt="r9" src="/src/assets/r9-figure.png"/>
        <img class="figure__r1" alt="r1" src="/src/assets/r1-figure.png"/>
        <img class="figure__r1-top" alt="r1" src="/src/assets/r9-top.png"/> 
        <div class="figure__content">
            <img alt="woman-w-dog-2" src="/src/assets/woman-w-dog2.png"/>
            <div class="figure__content__detail">
                <p>One More Friend</p>
                <p>Thousands More Fun!</p>
                <p>Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</p>
                <div class="figure__buttons">
                    <button class="figure__buttons--btn">
                        View Intro
                        <img alt="play-circle" src="/src/assets/play_circle.png"/>
                    </button>
                    <button class="figure__buttons--btn-explore">
                        Explore Now
                    </button>
                </div>  
            </div>
        </div>
    </figure>
</template>

<style lang="scss" scoped>
    .figure {
        height: 378px;
        width: 100%;
        width: 78%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        
        @media screen and (max-width: 992px) {
            width: 90%;
            height: 640px;
        }

        &.fig-1 {
            background: #003459;
        }

        &.fig-2 {
            background: #FFB775;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        &__r9 {
            position: absolute;
            right: 0;  
            bottom: 0;
            width: 50%;
            height: 100%;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        &__r1-top {
            width: 100%;
            height: 55%;
            position: absolute;
            top: 0;
            display: none;


            @media screen and (max-width: 992px) {
                display: flex;
            }
        }

        &__r1 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 100%;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        &__content {
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            width: 100%;
            align-items: flex-end;
            justify-content: center;

            &.content-fig-2 {
                flex-direction: row-reverse;
            }

            @media screen and (max-width: 992px) {
                flex-direction: column-reverse;
                align-items: center;
            }

            & > img {
                height: 100%;
                bottom: 0;

                @media screen and (max-width: 992px) {
                    height: 55%;
                }
                
            }   

            &__detail {
                color: black; 
                right: 0; 
                height: 100%;
                width: 50%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;

                &.detail-fig-2 {
                    align-items: flex-start !important;

                    p:nth-child(3) {
                        text-align: left;
                    }
                }

                @media screen and (max-width: 992px) {
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }

                p {
                    margin: 0;
                    // color: #003459;

                    &:first-child {
                        font-size: 52px;
                        font-weight: 800;

                        @media screen and (max-width: 992px) {
                            font-size: 36px;
                        }

                    }

                    &:nth-child(2) {
                        font-size: 36px;
                        font-weight: 700;

                        @media screen and (max-width: 992px) {
                            font-size: 24px;
                        }
                    }   

                    &:nth-child(3) {
                        width: 60%;
                        font-size: 12px;
                        text-align: right;
                        margin: 20px 0;


                        @media screen and (max-width: 992px) {
                            text-align: center;
                        }

                    }
                }
            }
        }
        
        &__buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;

            &--btn {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 160px;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 12px;
                cursor: pointer;
                gap: 6px;

                img {
                    width: 18px;
                    height: 18px;
                }
            }

            &--btn-explore {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 160px;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 12px;
                cursor: pointer;
                gap: 6px;
                background: #003459;
                color: white;
            }
        }

        &--1 {
            background: #003459;
        }
    }
</style>