<script setup></script>

<template>
    <footer class="footer">
        <div class="footer__main">
            <div class="search-container">
                <span>Register Now So You Don't Miss Our Programs</span>
                <div class="search-container__search">
                    <input placeholder="Enter Your Email" type="email" />
                    <button>Subscribe Now</button>
                </div>
            </div>  
            <div class="footer__main__menus">
                <div class="footer__main__menus__links">
                    <span>Home</span>
                    <span>Category</span>
                    <span>About</span>
                    <span>Contact</span>
                </div>
                <div class="footer__main__menus__links">
                    <span>
                        <img alt="facebook" src="/src/assets/fb.png"/>
                    </span>
                    <span>
                        <img alt="twitter" src="/src/assets/twitter.png"/>
                    </span>
                    <span>
                        <img alt="instagram" src="/src/assets/ig.png"/>
                    </span>
                    <span>
                        <img alt="youtube" src="/src/assets/yt.png"/>
                    </span>
                </div>
            </div>
            <div class="footer__main__copyright">
                <span>© 2022 Monito. All rights reserved.</span>
                <img alt="logo" src="/src/assets/logo.png"/>
                <span>
                    <span>Terms of Service</span>
                    <span>Privacy Policy</span>
                </span>
            </div>
        </div>
    </footer>
</template>

<style scoped lang="scss">
    .footer {
        background: #FCEED5;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        height: 100%;
        padding: 50px 0;

        &__main {
            display: flex;
            flex-direction: column;
            background: white;
            width: 80%;

            @media screen and (max-width: 992px) {
                width: 95%;
            }

            &__menus {
                display: flex;
                flex-direction: row;
                padding: 40px 0;
                background: #FCEED5;
                border-bottom: 1px solid #CCD1D2;
                justify-content: space-between;

                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }

                &__links {
                    display: flex;
                    flex-direction: row;
                    gap: 60px;

                    @media screen and (max-width: 992px) {
                        width: 100%;
                        gap: 35px;
                        justify-content: center;
                    }

                    img {
                        height: 20px;
                        width: auto;
                    }

                    span {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #00171F;
                        cursor: pointer;
                    }
                }

            }

            &__copyright {
                font-size: 14px;
                color: #667479;
                background: #FCEED5;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 50px;

                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }

                & > span:last-child {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;

                    span {
                        text-decoration: none;
                        color: #667479;
                        cursor: pointer;
                    }
                }
            }
        }

        .search-container {
            background: #003459;
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            color: white;
            padding: 30px;
            gap: 20px;
            align-items: center;

            @media screen and (max-width: 992px) {
                flex-direction: column;
                & > span { 
                    width: 100%;
                }
            }

            & > span {
                font-size: 24px;
                font-weight: 700;
                width: 50%;
                display: flex;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }
            }

            &__search {
                background: white;
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                height: 100%;
                border-radius: 14px;
                gap: 12px;

                @media screen and (max-width: 992px) {
                    flex-direction: column;
                }

                & > button {
                    width: 210px;
                    height: 48px;
                    border-radius: 8px;
                    border: none;
                    background: #003459;
                    color: white;
                    font-size: 16px;
                    cursor: pointer;

                    @media screen and (max-width: 992px) {
                        width: 100%;
                        text-align: center;
                    }
                }

                & > input {
                    width: 100%;
                    height: 48px;
                    padding: 0 24px;
                    font-size: 14px;
                    border-radius: 8px;
                    border: 1px solid #99A2A5;

                    @media screen and (max-width: 992px) {
                        padding: 0;
                    }
                }
            }
        }
    }
</style>