<script setup></script>

<template>
    <header class="hero">
        <img class="r9" alt="r9" src="/src/assets/r-9.png"/>
        <div class="hero__content">
            <div class="hero__content__intro">
                <div class="hero__content__intro__titles">
                    <p>one more friend</p>
                    <p>thousands more fun!</p>
                </div>
                <p>Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</p>
                <div class="hero__content__intro__buttons">
                    <button class="hero__content__intro__buttons--btn">
                        View Intro
                        <img alt="play-circle" src="/src/assets/play_circle.png"/>
                    </button>
                    <button class="hero__content__intro__buttons--btn-explore">
                        Explore Now
                    </button>
                </div>
            </div>
            <img alt="woman-w-dog" src="/src/assets/woman-w-dog.png"/>
        </div>
        <img class="hero__decor-2" alt="woman-w-dog" src="/src/assets/r1-header.png"/>
        <img class="hero__decor-1" alt="woman-w-dog" src="/src/assets/r2-header.png"/>
    </header>
</template>

<style scoped lang="scss">
    .hero {
        background: #FCEED5;
        width: 100%;
        height: 695px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        position: relative;
        display: flex;
        justify-content: center;

        &__decor-1 {
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 100px;

            @media screen and (max-width: 992px) {
                height: 45%;
                right: -290px;
            }
        }

        &__decor-2 {
            position: absolute;
            bottom: 0;
            right: 150px;

            @media screen and (max-width: 992px) {
                height: 40%;
                right: -190px;
            }
        }

        @media screen and (max-width: 992px) {
            height: 100vh;
            overflow: hidden;
        }

        .r9 {
            position: absolute;
            left: 0;
        }

        &__content {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 0;
            width: 70%;
            height: 85%;

            @media screen and (max-width: 992px) {
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
            }

            &__intro {
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // margin: 0 9%;

                &__titles {
                    p:first-child {
                        text-transform: capitalize;
                        font-size: 60px;
                        font-weight: 800;
                        margin: 0;
                        line-height: 68px;

                        @media screen and (max-width: 992px) {
                            font-size: 43px;
                            line-height: 60px;
                        }
                    }

                    p:nth-child(2) {
                        text-transform: capitalize;
                        font-size: 46px;
                        font-weight: 700;
                        margin: 0;
                        line-height: 60px;

                        @media screen and (max-width: 992px) {
                            font-size: 28px;
                            line-height: 38px;
                        }
                    }
                }

                &__buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    @media screen and (max-width: 992px) {
                        font-size: 28px;
                        line-height: 38px;
                        margin: 8px 0;
                    }
                    
                    &--btn {
                        font-size: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 160px;
                        background: none;
                        border: 1.5px solid #003459;
                        font-weight: 500;
                        border-radius: 50px;
                        padding: 12px;
                        cursor: pointer;
                        gap: 6px;

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &--btn-explore {
                        font-size: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 160px;
                        background: none;
                        border: 1.5px solid #003459;
                        font-weight: 500;
                        border-radius: 50px;
                        padding: 12px;
                        cursor: pointer;
                        gap: 6px;
                        background: #003459;
                        color: white;
                    }
                }
            }
            & > img {
                width: 50%;
                object-fit: cover;
                z-index: 10;

                @media screen and (max-width: 992px) {
                    height: 50%;
                    width: auto;
                }
            }
        }
    }
</style>