<script setup>
    import { onBeforeUnmount, onMounted, ref } from 'vue';

    const isScrolled = ref(false)
    
    const handleScroll = () => {
        isScrolled.value = window.scrollY
    }

    onMounted(() => {
        window.addEventListener('scroll', handleScroll)
    })

    onBeforeUnmount(() => {
        window.removeEventListener('scroll', handleScroll)
    })
</script>

<template>
    <nav
        @scroll="handleScroll" 
        :class="{'scrolled' : isScrolled}"
        class="container">
        <a><img alt="logo" src="/src/assets/hamburger.png"/></a>
        <img alt="logo" src="/src/assets/logo.png"/>
        <a><img alt="logo" src="/src/assets/glasses.png"/></a>
        <menu>
            <ul>
                <li><span>Home</span></li>
                <li><span>About</span></li>
                <li><span>Services</span></li>
                <li><span>Contact</span></li>
            </ul>
        </menu>
        <div class="actions-container">
            <div class="input-container">
                <img alt="u_search" src="/src/assets/u_search.png"/>
                <input placeholder="Search something here!">
            </div>
            <button class="join-btn">
                Join the community
            </button>            
        </div>

    </nav>
</template>

<style scoped lang="scss">
    .container {
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        gap: 70px;
        justify-content: space-around;
        transition: all .5s ease;

        &.scrolled {
            background: white;
            padding: 5px 0;
            box-shadow: 0px 0px 15px 2px #d3d3d38c;
        }
        
        & > a {
            display: none;
        }


        @media screen and (max-width: 992px) {
            & > a {
                display: inline;
            }
        }

        menu {
            padding: 0;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            list-style-type: none;
            gap: 50px;
            padding: 0;
            font-size: 16px;
            font-weight: 700;

            span {
                cursor: pointer;
                text-decoration: none;
                color: black;
            }
        }

        .join-btn {
            font-size: 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: none;
            border: 1.5px solid #003459;
            font-weight: 500;
            border-radius: 50px;
            padding: 8px 20px;
            cursor: pointer;
            gap: 6px;
            background: #003459;
            color: white;
            font-weight: 700;
            text-decoration: none;
        }

        .actions-container {
            display: flex;
            flex-direction: row;
            gap: 12px;

            @media screen and (max-width: 992px) {
                display: none;
            }

            .input-container {
                display: flex;
                align-items: center;
                flex-direction: row;
                background: white;
                gap: 10px;
                padding: 0px 16px;
                border-radius: 50px;

                & > img {
                    width: 16.6px;
                    height: 16.6px;
                }

                input { 
                    border: none;
                    font-size: 14px;
                    width: 200px;

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }
        }
    }
</style>