<script setup>
    import pet1 from '/src/assets/pets/1.jpg'
    import pet2 from '/src/assets/pets/2.jpg'
    import pet3 from '/src/assets/pets/3.jpg'
    import pet4 from '/src/assets/pets/4.jpg'
    import pet5 from '/src/assets/pets/5.jpg'
    import pet6 from '/src/assets/pets/6.jpg'
    import pet7 from '/src/assets/pets/7.jpg'
    import pet8 from '/src/assets/pets/8.jpg'
</script>

<template>
    <section class="body__content">
        <div class="body__content__header">
            <div class="body__content__header__intro">
                <p>Whats new ?</p>
                <p>take a look at some of our new pets</p>
            </div>
            <button class="btn desktop">View more</button>
        </div>
        <div class="body__content__main">
            <div v-for="item in [
                { src: pet1, label: 'MO231 - Pomeranian White', price: '6.900.000', gene: 0 },
                { src: pet2, label: 'MO502 - Poodle Tiny Yellow', price: '3.900.000', gene: 1 },
                { src: pet3, label: 'MO102 - Poodle Tiny Sepia', price: '4.000.000', gene: 0 },
                { src: pet4, label: 'MO512 - Alaskan Malamute Grey', price: '8.900.000', gene: 0 },
                { src: pet5, label: 'MO231 - MO231 - Pembroke Corgi Cream', price: '7.900.000', gene: 0 },
                { src: pet6, label: 'MO502 - Pembroke Corgi Tricolor', price: '9.000.000', gene: 1 },
                { src: pet7, label: 'MO231 - Pomeranian White', price: '6.500.000', gene: 1 },
                { src: pet8, label: 'MO512 - Poodle Tiny Dairy Cow', price: '5.000.000', gene: 0 },
            ]" class="card">
                <img alt="card-im" :src="item.src" loading="lazy" />
                <p class="card__title">{{ item.label }}</p>
                <p class="card__content">Gene: <strong>{{ item.gene == 0 ? 'Male' : 'Female' }}</strong> <span>•</span> Age: <strong>02 months</strong></p>
                <p class="card__price">{{ item.price }} VND</p>
            </div>
        </div>
        <button class="btn mobile">View more</button>
    </section>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        padding: 4% 0;
        align-items: center;
        gap: 20px;

        &__content {
            display: flex;
            flex-direction: column;
            width: 78%;

            &.products {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            @media screen and (max-width: 992px) {
                width: 90%;
            }

            &.sellers {
                overflow-x: auto;
                overflow-y: hidden;

                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__intro {
                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &:first-child {
                            font-size: 16px;
                            font-weight: 500;

                            @media screen and (max-width: 992px) {
                                font-size: 14px;
                            }
                        }

                        &:nth-child(2) {
                            font-weight: 700;
                            font-size: 24px;
                            color: #003459;
                            text-transform: capitalize;

                            @media screen and (max-width: 992px) {
                                font-size: 20px;
                            }
                        }

                        & > span { 
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                }
            }

            &__main {
                padding-top: 2%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                }

                &__badge {
                    height: 34px;
                    background: #FCEED5;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    margin-top: 12px;
                    padding: 0 8px;

                    & > div {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        color: #002A48;
                        font-weight: 700;
                        font-size: 14px;
                        width: 100%;

                        & > span {
                            & > img { 
                                width: 20px;
                                height: 20px;
                            }
                        }

                        & > img {
                            height: 20px;
                            width: auto;
                        }

                        & > span {
                            margin: 0 1px;
                        }
                    }
                }
            }

            &__knowledge {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .card {
                // width: 280px;
                cursor: pointer;
                background: white;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba(63, 63, 63, 0.091);
                padding: 14px;
                transition: all .2s ease;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                &__title {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                    margin-top: 12px;
                }

                &__content {
                    margin: 6px 0;
                    color: #667479;
                    span {
                        margin: 0 10px;
                    }
                }

                &__price {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .tag {
                font-size: 10px;
                background: #00A7E7;
                font-weight: 700;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
                width: fit-content;
                margin-top: 12px;
            }

            &__sellers {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 28px;

                &__item {
                    cursor: pointer;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
                
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .btn {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 10px 30px;
                cursor: pointer;
                gap: 6px;
                text-decoration: none;

                &.desktop {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: flex;
                        margin: 12px 0;
                    }
                }
            }
        }
    }
</style>