<script setup>
    import product1 from '/src/assets/products/1.jpg'
    import product2 from '/src/assets/products/2.jpg'
    import product3 from '/src/assets/products/3.jpg'
    import product4 from '/src/assets/products/4.jpg'
    import product5 from '/src/assets/products/5.jpg'
    import product6 from '/src/assets/products/6.jpg'
    import product7 from '/src/assets/products/7.jpg'
    import product8 from '/src/assets/products/8.jpg'
</script>

<template>
    <section class="body__content products">
        <div class="body__content__header">
            <div class="body__content__header__intro">
                <p>Hard to choose the right products for your pet ?</p>
                <p>Our Products</p>
            </div>
            <button class="btn">View more</button>
        </div>
        <div class="body__content__main">
            <div v-for="item in [
                { src: product1, name: 'Reflex Plus Adult Cat Food Salmon', price: '140.000', label: 'Free Toy & Free Shaker' },
                { src: product2, name: 'Reflex Plus Adult Cat Food Salmon', price: '165.000', label: 'Free Toy & Free Shaker' },
                { src: product3, name: 'Cat scratching ball toy kitten sisal rope ball', price: '1.100.000', label: 'Free Cat Food' },
                { src: product4, name: 'Cute Pet Cat Warm Nest', price: '410.000', label: 'Free Cat Food' },
                { src: product5, name: 'NaturVet Dogs - Omega-Gold Plus Salmon Oil', price: '350.000', label: 'Free Toy & Free Shaker' },
                { src: product6, name: 'Costumes Fashion Pet Clother Cowboy Rider', price: '500.000', label: 'Free Toy & Free Shaker'},
                { src: product7, name: 'Costumes Chicken Drumsti ck Headband', price: '400.000', label: 'Free Cat Food' },
                { src: product8, name: 'Plush Pet Toy', price: '250.000', label: 'Free Food & Shaker' },
            ]" class="card">
                <img alt="card_im" :src="`${item.src}`" loading="lazy" />
                <p class="card__title">{{ item.name }}</p>
                <p class="card__content">Product: <strong>Dog Food</strong> <span>•</span> Size: <strong>385gm</strong></p>
                <p class="card__price">{{ item.price }} VND</p>
                <div class="body__content__main__badge">
                    <div>
                        <span>
                            <img alt="gift" src="/src/assets/gift.png" loading="lazy"/>
                        </span>
                        <span>•</span>
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        padding: 4% 0;
        align-items: center;
        gap: 20px;

        &__content {
            display: flex;
            flex-direction: column;
            width: 78%;

            &.products {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            @media screen and (max-width: 992px) {
                width: 90%;
            }

            &.sellers {
                overflow-x: auto;
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__intro {
                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &:first-child {
                            font-size: 16px;
                            font-weight: 500;

                            @media screen and (max-width: 992px) {
                                font-size: 14px;
                            }
                        }

                        &:nth-child(2) {
                            font-weight: 700;
                            font-size: 24px;
                            color: #003459;
                            text-transform: capitalize;

                            @media screen and (max-width: 992px) {
                                font-size: 20px;
                            }
                        }

                        & > span { 
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                }
            }

            &__main {
                padding-top: 2%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                }

                &__badge {
                    height: 34px;
                    background: #FCEED5;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    margin-top: 12px;
                    padding: 0 8px;

                    & > div {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        color: #002A48;
                        font-weight: 700;
                        font-size: 14px;
                        width: 100%;

                        & > span {
                            & > img { 
                                width: 20px;
                                height: 20px;
                            }
                        }

                        & > img {
                            height: 20px;
                            width: auto;
                        }

                        & > span {
                            margin: 0 1px;
                        }
                    }
                }
            }

            &__knowledge {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .card {
                // width: 280px;
                cursor: pointer;
                background: white;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba(63, 63, 63, 0.091);
                padding: 14px;
                transition: all .2s ease;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                &__title {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                    margin-top: 12px;
                }

                &__content {
                    margin: 6px 0;
                    color: #667479;
                    span {
                        margin: 0 10px;
                    }
                }

                &__price {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .tag {
                font-size: 10px;
                background: #00A7E7;
                font-weight: 700;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
                width: fit-content;
                margin-top: 12px;
            }

            &__sellers {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 28px;

                &__item {
                    cursor: pointer;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
                
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .btn {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 10px 30px;
                cursor: pointer;
                gap: 6px;
                text-decoration: none;

                &.desktop {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: flex;
                        margin: 12px 0;
                    }
                }
            }
        }
    }
</style>