<script setup>
    import seller1 from '/src/assets/sellers/1.png'
    import seller2 from '/src/assets/sellers/2.png'
    import seller3 from '/src/assets/sellers/3.png'
    import seller4 from '/src/assets/sellers/4.png'
    import seller5 from '/src/assets/sellers/5.png'
    import seller6 from '/src/assets/sellers/6.png'
    import seller7 from '/src/assets/sellers/7.png'
</script>

<template>
    <section class="body__content sellers">
        <div class="body__content__header">
            <div class="body__content__header__intro">
                <p>
                    Proud to be part of
                    <span>Pet Sellers</span>
                </p>
            </div>
            <button class="btn">View all our sellers</button>
        </div>
        <div class="body__content__sellers">
            <button
                class="body__content__sellers__item" 
                v-for="item in [
                    seller1, seller2, seller3, seller4,
                    seller5, seller6, seller7
                ]">
                <img alt="seller" :src="item" loading="lazy"/>
            </button>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        padding: 4% 0;
        align-items: center;
        gap: 20px;

        &__content {
            display: flex;
            flex-direction: column;
            width: 78%;

            &.products {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            @media screen and (max-width: 992px) {
                width: 90%;
            }

            &.sellers {
                overflow-x: auto;
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__intro {
                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &:first-child {
                            font-size: 16px;
                            font-weight: 500;

                            @media screen and (max-width: 992px) {
                                font-size: 14px;
                            }
                        }

                        &:nth-child(2) {
                            font-weight: 700;
                            font-size: 24px;
                            color: #003459;
                            text-transform: capitalize;

                            @media screen and (max-width: 992px) {
                                font-size: 20px;
                            }
                        }

                        & > span { 
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                }
            }

            &__main {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                }

                &__badge {
                    height: 34px;
                    background: #FCEED5;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    margin-top: 12px;
                    padding: 0 8px;

                    & > div {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        color: #002A48;
                        font-weight: 700;
                        font-size: 14px;
                        width: 100%;

                        & > span {
                            & > img { 
                                width: 20px;
                                height: 20px;
                            }
                        }

                        & > img {
                            height: 20px;
                            width: auto;
                        }

                        & > span {
                            margin: 0 1px;
                        }
                    }
                }
            }

            &__knowledge {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .card {
                // width: 280px;
                cursor: pointer;
                background: white;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba(63, 63, 63, 0.091);
                padding: 14px;
                transition: all .2s ease;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                &__title {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                    margin-top: 12px;
                }

                &__content {
                    margin: 6px 0;
                    color: #667479;
                    span {
                        margin: 0 10px;
                    }
                }

                &__price {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .tag {
                font-size: 10px;
                background: #00A7E7;
                font-weight: 700;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
                width: fit-content;
                margin-top: 12px;
            }

            &__sellers {
                padding-top: 2%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 28px;

                &__item {
                    cursor: pointer;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
                
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .btn {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 10px 30px;
                cursor: pointer;
                gap: 6px;
                text-decoration: none;

                &.desktop {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: flex;
                        margin: 12px 0;
                    }
                }
            }
        }
    }
</style>