<script setup>
    import story1 from '/src/assets/stories/story-1.png'
    import story2 from '/src/assets/stories/story-2.png'
    import story3 from '/src/assets/stories/story-3.png'
</script>

<template>
    <section class="body__content">
        <div class="body__content__header">
            <div class="body__content__header__intro">
                <p>You already know ?</p>
                <p>Useful Pet Knowledge</p>
            </div>
            <button class="btn desktop">View more</button>
        </div>
        <div class="body__content__knowledge">
            <div v-for="item in [
                { src: story1, title: 'What is a Pomeranian? How to Identify Pomeranian Dogs', story: 'The Pomeranian, also known as the Pomeranian (Pom dog), is always in the top of the cutest pets. Not only that, the small, lovely, smart, friendly, and skillful circus dog breed.' },
                { src: story2, title: 'Dog Diet You Need To Know', story: 'Dividing a dog\'s diet may seem simple at first, but there are some rules you should know so that your dog can easily absorb the nutrients in the diet. For those who are just starting to raise dogs, especially newborn puppies with relatively weak resistance.' },
                { src: story3, title: 'Why Dogs Bite and Destroy Furniture and How to Prevent It Effectively', story: 'Dog bites are common during development. However, no one wants to see their furniture or important items being bitten by a dog.' },
            ]" class="card">
                <img alt="figure-knowledge" :src="item.src" />
                <div class="tag">Pet Knowledge</div>
                <p class="card__title">{{ item.title }}</p>
                <p class="card__content">{{ item.story }}</p>
            </div>
        </div>
        <button class="btn mobile">View more</button>
    </section>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        padding: 4% 0;
        align-items: center;
        gap: 20px;

        &__content {
            display: flex;
            flex-direction: column;
            width: 78%;

            &.products {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            @media screen and (max-width: 992px) {
                width: 90%;
            }

            &.sellers {
                overflow-x: auto;
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__intro {
                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &:first-child {
                            font-size: 16px;
                            font-weight: 500;

                            @media screen and (max-width: 992px) {
                                font-size: 14px;
                            }
                        }

                        &:nth-child(2) {
                            font-weight: 700;
                            font-size: 24px;
                            color: #003459;
                            text-transform: capitalize;

                            @media screen and (max-width: 992px) {
                                font-size: 20px;
                            }
                        }

                        & > span { 
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                }
            }

            &__main {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                }

                &__badge {
                    height: 34px;
                    background: #FCEED5;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    margin-top: 12px;
                    padding: 0 8px;

                    & > div {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        color: #002A48;
                        font-weight: 700;
                        font-size: 14px;
                        width: 100%;

                        & > span {
                            & > img { 
                                width: 20px;
                                height: 20px;
                            }
                        }

                        & > img {
                            height: 20px;
                            width: auto;
                        }

                        & > span {
                            margin: 0 1px;
                        }
                    }
                }
            }

            &__knowledge {
                padding-top: 2%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .card {
                // width: 280px;
                cursor: pointer;
                background: white;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba(63, 63, 63, 0.091);
                padding: 14px;
                transition: all .2s ease;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                &__title {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                    margin-top: 12px;
                }

                &__content {
                    margin: 6px 0;
                    color: #667479;
                    span {
                        margin: 0 10px;
                    }
                }

                &__price {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .tag {
                font-size: 10px;
                background: #00A7E7;
                font-weight: 700;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
                width: fit-content;
                margin-top: 12px;
            }

            &__sellers {
                padding: 2% 0;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 28px;

                &__item {
                    cursor: pointer;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
                
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .btn {
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: 1.5px solid #003459;
                font-weight: 500;
                border-radius: 50px;
                padding: 10px 30px;
                cursor: pointer;
                gap: 6px;
                text-decoration: none;

                &.desktop {
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: flex;
                        margin: 12px 0;
                    }
                }
            }
        }
    }
</style>