<script setup>
    import Navbar from './components/navbar.vue'
    import Header from './components/header.vue'
    import Footer from './components/footer.vue'
    import Pet from './components/pets.vue'
    import Explore from './components/explore.vue'
    import Products from './components/products.vue'
    import Sellers from './components/sellers.vue'
    import Adoption from './components/adoption.vue'
    import Stories from './components/stories.vue'
</script>

<template>
    <Navbar></Navbar>
    <Header></Header>
    <section class="section-container">
        <Pet></Pet>
        <Explore></Explore>
        <Products></Products>
        <Sellers></Sellers>
        <Adoption></Adoption>
        <Stories></Stories>
    </section>
    <Footer></Footer>
</template>

<style scoped lang="scss">
    .section-container {
        width: 100%; 
        display: flex; 
        align-items: center; 
        flex-direction: column; 
        padding: 4% 0; 
        gap: 20px;
    }
</style>